.main {
  @apply min-h-screen py-16 flex flex-col justify-center items-center;
}

.footer {
  @apply flex flex-1 py-8 border-t border-neutral-200 justify-center items-center;
}

.footer a {
  @apply flex justify-center items-center flex-grow;
}

.title {
  @apply m-0 text-6xl text-center;
}

.title a {
  @apply text-primary no-underline hover:underline focus:underline active:underline;
}

.grid {
  @apply flex items-center justify-center max-w-3xl flex-wrap w-full flex-col md:w-auto md:flex-row;
}

.card {
  @apply
   m-4 p-6
   text-left
   no-underline
   text-inherit
   border
   border-neutral-200
   rounded-xl
   transition-colors
   max-w-xs
   w-full

   hover:text-primary
   focus:text-primary
   active:text-primary

   hover:border-primary
   focus:border-primary
   active:border-primary;
}

.card h2 {
  @apply mb-4 text-2xl;
}

.card p {
  @apply m-0 text-xl;
}

.logo {
  @apply h-4 ms-2;
}

